[Unit]
Description=Run genesis health check every 15 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
Unit=genesis-sentry.service

[Install]
WantedBy=timers.target